<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/buttonStyles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="searchBar">
                <input type="text" name="searchBar" class="inputSearch" placeholder="Buscar productos, marcas y más">
                <button type="submit" name="submit" class="inputSearchButton"><a href="/"><i class="fas fa-search"></i></a></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="banner de ofertas">

    </section>

    <main>
        <div class="register-card-body">
            <p class="register-box-msg">Registrarse</p>
            <form action="/registro" method="POST">
                <div class="row">
                    <div class="row-user">
                        <div class="form-group">
                            <label form="username">Usuario</label>
                            <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="text"
                                name="username" id="username" class="form-control users"
                                placeholder=" &#xf007; Ingrese usuario" maxLenght="20" minLenght="5" required>
                        </div>
                    </div>
                    <div class="row-data">
                        <div class="row-data1">
                            <div class="form-group">
                                <label for="pass">Contraseña</label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="password"
                                    name="pass" id="pass" class="form-control"
                                    placeholder=" &#xf084; Ingrese contraseña" minLenght="5" required>

                            </div>
                            <div class="form-group">
                                <label for="lastname">Nombre y Apellido</label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="text"
                                    name="lastname" id="lasname" class="form-control"
                                    placeholder=" &#xf2c2; Nombre y Apellido" required>

                            </div>
                            <div class="form-group">
                                <label for="birth">Fecha de Nacimiento</label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="date"
                                    name="birth" id="birth" class="form-control" required>

                            </div>
                            <div class="form-group">
                                <label for="address">Domicilio</label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="text"
                                    name="address" id="address" class="form-control"
                                    placeholder=" &#xe065;  Ingrese domicilio" required>

                            </div>
                            <div class="form-group buyCell">
                                <div class="label-group">
                                    <label for="perfil">Perfil</label>
                                </div>
                                <div class="buyCell-Group">
                                    <input class="input-cell" type="radio" id="comprador" name="perfil" value="comprador" checked>
                                    <label for="comprador">Comprador</label>
                                    <input class="input-cell" type="radio" id="vendedor" name="perfil"
                                        value="venededor">
                                    <label for="vendeor">Vendedor</label>

                                </div>
                            </div>
                        </div>
                        <div class="row-data2">
                            <div class="form-group">
                                <label for="pass2">Repetir Contraseña</label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="password"
                                    name="pass2" id="pass2" class="form-control"
                                    placeholder=" &#xf084; Repita Contraseña" minLenght="5" required>

                            </div>
                            <div class="from-group category">
                                <div class="label-group">
                                    <label for="categories">Categorías de interés</label>
                                </div>

                                <div class="category-Group">
                                    <div class="groupCategory">
                                        <input type="checkbox" name="categories" value="electro"><label>Electro</label>
                                        
                                    </div>
                                    <div class="groupCategory">
                                        <input type="checkbox" name="categories" value="moda"><label>Moda</label>

                                    </div>
                                    <div class="groupCategory">
                                        <input type="checkbox" name="categories" value="hogar"><label>Hogar</label>
                                        
                                    </div>
                                    <div class="groupCategory">
                                        <input type="checkbox" name="categories" value="jugueteria"><label>Juguetería</label>

                                    </div>
                                    <div class="groupCategory">
                                        <input type="checkbox" name="categories" value="vidasana"><label>Vida sana</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fotouser">Foto usuario</label>
                                <input type="file" name="fotouser" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row-button">
                        <div class="row-buttom-box">
                            <button type="submit" class="ov-btn-grow-spin">
                                <i class="fas fa-share-square"></i> Enviar
                            </button>
                            <button type="submit" class="ov-btn-grow-box">
                                <i class="fas fa-broom"></i> Limpiar
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <section>
                <span class="icon-footer"><i class="fas fa-credit-card"></i></span>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="body-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <span class="icon-footer"><i class="fas fa-gift"></i></span>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="body-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <span class="icon-footer"><i class="fas fa-user-shield"></i></span>
                <h3>Seguridad, de principio a fin</h3>
                <p class="body-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="pie-footer">
            <p class="body-pie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>
