* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #ebebeb;
}
main {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    background-color: var(--blanco);
    columns: var(--grisOscuro);
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}
main label {
    font-size: 14px;
    font-weight: bold;
    color: #313131;
}
.register-card-body {
    margin-bottom: 20px;
}
.register-card-body p {
    margin-top: 20px;
    text-align: center;
}
.row {
    /* border: 1px solid green; */
    margin: 20px;
}
/* .row-data1 {
    border: 1px solid pink;
}
.row-data2 {
    border: 1px solid blue;
} */
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group input {
    margin-top: 5px;
    height: 30px;
    border: 1px solid #ced4da;
}
.form-group label {
    margin-top: 10px;
}
.buyCell {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.buyCell-Group {
    display: flex;
    border: 1px solid #ced4da;
    margin-top: 5px;
    height: 30px;
    align-items: center;
    width: 95%;
}
.buyCell-Group .input-cell {
    margin-left: 10px;
    margin-top: 0;
    width: 20px;
    height: 15px;
}

.buyCell-Group label {
    margin: 0;
    margin-left: 5px;
}

.form-group input:focus {
    outline: none;
    border: 1px solid #06c;
}
.category-Group div {
    display: flex;
    text-align: center;
    width: 10px;
}
.groupCategory {
    /* border: 1px solid purple; */
    display: flex;
    height: 28.5px;
   
}
.groupCategory label, input {
    margin: 0;
}
.groupCategory input {
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

.label-group {
    margin-top: 8px;
}
.category-Group {
    border: 1px solid #ced4da;
    margin-top: 5px;
    padding: 5px 0 ;
}
.row-button {
    /* border: 1px solid #ce0246; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-button-box {
    display: flex;
    /* border: 1px solid violet; */
    width: 90px;
    height: 50%;
    justify-content: space-between;
}
.row-button-box button {
    height: 100%;
    width: 48%;
    text-align: center;
    /* margin-right: 20px; */
    font-size: 12px;
    font-weight: bold;
    /* letter-spacing: 2px; */
    cursor: pointer;
}

@media (min-width:768px) {

.row-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-data1 {
    width: 49%;
}
.row-data2 {
    width: 49%;
}
.row-button-box {
display: flex;
width: 80%;
height: 50%;
justify-content:center ;
}
.row-button-box button{
    height: 100%;
    width: 30%;
    margin-right: 20px;
    font-size: 14px;
    font-weight:normal;
    letter-spacing: 2px;
    cursor: pointer;
}
.form-group input {
    width: 100%;
}
.category-Group {
    width: 100%;
}
}

@media (min-width: 1024px) {

    .row-button-box {
        display: flex;
        width: 80%;
        height: 50%;
        justify-content: center;
    }
    .row-button-box button {
        height: 100%;
        width: 30%;
        margin-right: 20px;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 2px;
        cursor: pointer;
    }
